@charset "UTF-8";

* {
    max-resolution: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.container-header {
    margin: 3vh 5vh;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}